@model EmprestimosModel

<h1>Tela de contato</h1>


<table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Atividade</th>
                                    <th scope="col">Data entregue</th>
                                    <th scope="col"></th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>

                            <tbody>
                                
                            </tbody>
</table>